@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,600;1,300;1,600&display=swap');

html {
	scroll-behavior: smooth;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-size: 24px;
}

body {
	font-family: 'Poppins';
	list-style: none;
	color: #585669;
}

.container {
	width: 1336px;
	padding: 24px 0;
	margin: auto;
}

nav {
	display: flex;
	justify-content: space-between;
	position: fixed;
	width: 100%;
	margin: auto;
	padding: 24px 48px 24px 48px;
	box-shadow: 0px 0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color: #FFFFFF;
	z-index: 1;
}

nav ul {
	display: flex;
}

ul li {
	list-style: none;
}

ul li a {
	text-decoration: none;
	color: #585669;
	margin: 0 36px
}

.active {
	border-bottom: 4px solid #A9DBE0;
}

header {
	display: flex;
	justify-content: space-between;
	margin: 24px;
	align-items: center;
}

.img-header {
	position: relative;
}

img.ellipse {
	position: absolute;
	z-index: -1;
	left: 80px;
	top: 250px;
}

.txt-header {
	margin-top: 100px;
}

.txt-profile {
	font-style: italic;
	text-align: center;
}

.txt-profile h2 {
	font-size: 64px;
	font-weight: 300;
}

.txt-profile h1 {
	font-size: 90px;
	font-weight: 600;

}

.txt-profile h3 {
	font-size: 48px;
	font-weight: 300;
}

h3 span {
	font-weight: 700;
	font-size: 36px;
}

.btn-primary {
	padding: 17px;
	color: #FEFAEE;
	background-color: #585669;
	border: none;
	border-radius: 20px;
}

.social-media {
	display: flex;
	align-items: center;
	margin-top: 24px;
}

.social-media button.btn-primary {
	margin-right: 48px;

}

.social-media img {
	margin-right: 24px;
}

.skills {
	margin: 144px auto 144px auto;
	padding-top: 96px;
}

.skills h1,
.skills span {
	font-size: 48px;
}

.skills h1 span {
	font-weight: 300;
}

.row-skills {
	display: flex;
	margin: 64px auto;
	gap: 64px;
	justify-content: center;
}


.card-skills {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	width: 250px;
	height: 250px;
	padding: 25px 0 45px 0;
	background: #FFFFFF;
	box-shadow: 0px 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 20px;
}

.card-skills img {
	margin-bottom: 24px;
}

.projects {
	padding-top: 96px;
}

.projects h1,
.projects span {
	font-size: 48px;
}

.projects span {
	font-weight: 300;
}

.row-projects {
	margin: 64px auto 64px auto;
	justify-content: center;
	display: flex;
	gap: 64px;
}

.card-projects {
	width: 350px;
	height: 400px;
	background: #FFFFFF;
	box-shadow: 0px 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 20px;
}

.card-projects h4 {
	font-weight: 600;
	margin-top: 20px;
	line-height: 36px;
}

.card-projects h4,
.card-projects p,
.button-project {
	margin-left: 15px;
}

.card-projects p {
	font-size: 16px;
	font-weight: 300;
}

.button-project {
	margin-top: 18px;
}

.btn-proj {
	color: #00BBCE;
	background-color: #A9DBE0;
	border-radius: 5px;
	padding: 1px 26px;
	line-height: 150%;
	font-size: 14px;
	border: none;
	margin-right: 8px;
}

.contacts {
	margin: 134px auto;
	padding-top: 96px;
}

.contacts h1,
.contacts span {
	font-size: 48px;
	margin-bottom: 24px;
}

.contacts span {
	font-weight: 300;
}

.card-contacts {
	width: 1122px;
	height: 366px;
	background: #FFFFFF;
	box-shadow: 0px 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 20px;
	margin: auto;
	padding-top: 48px;
}

.soc-med {
	display: flex;
	margin: 0 0 24px 24px;
	align-items: center;
}

.soc-med a {
	color: #00BBCE;
	text-decoration: underline;
}

.soc-med img {
	margin-right: 24px;
}

footer img {
	width: 100%;
	height: auto;
	margin-top: -180px;
}